


@{
    ViewData["Title"] = "Kayıt Başarılı";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="text-success">
    <h2><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Kayıt oldunuz....</h2>
    <hr />
    <p class="text-justify">
        Lütfen e-posta adresinize gönderdiğimiz aktivasyon linkine tıklayarak hesabınızı aktive ediniz. Hesabınızı aktive etmeden not ekleyemez ve beğenme yapamazsınız
    </p>
</div>
